<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Joni Kähärä Presents Async.fi" />
    <title>Async.fi</title>
    <link rel="stylesheet" href="/asset/style.css" type="text/css" media="screen" />
    <link rel="alternate" type="application/rss+xml" title="Async.fi Feed" href="/feed.xml" />
    <script src="/asset/html5.js"></script>
    <meta name="generator" content="https://github.com/kahara/Async.fi" />
    <meta name="google-site-verification" content="wUwxsPoeGyGWidP3745Hv0HNilHbivTXnkVfKi-QVW4" />
    <style type="text/css">
      sup {
      vertical-align: 60%;
      font-size: 75%;
      line-height: 100%;
      }
      sub {
      vertical-align: -10%;
      font-size: 75%;
      line-height: 100%;
      }
      .amp {
      font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", "Warnock Pro", serif;
      font-weight: normal;
      font-style: italic;
      font-size: 1.1em;
      line-height: 1em;
      }
      .caps {
      font-size: 90%;
      }
      .dquo {
      margin-left:-.40em;
      }
      .quo {
      margin-left:-.2em;
      }
      /* because formatting .numbers should consider your current font settings, we will not style it here */
    </style>
  </head>
  
  <body class="home blog">
    
    <script>var _gaq=[['_setAccount','UA-20895288-1'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>
    
    <div id="wrapper">
      
      <header>
	<h1><a href="{{base}}">Async.fi</a></h1>
      </header>
      
      <section>
	{{#posts}}
	{{.}}
	{{/posts}}
	
	<!--{{prevnext}}-->
	<!--
	<ul class="prevnext">
	  <li><a href="https://async.fi/page/4/" >&lt; Older Entries</a></li>
	  <li><a href="https://async.fi/page/2/" >Newer Entries &gt;</a></li>
	</ul>
	-->
      </section>
      
      <nav>
	
	<ul>
	  <aside id="search-3" class="widget widget_search">
	    <form role="search" method="get" id="searchform" action="https://async.fi/" >
	      <div><label class="screen-reader-text" for="s">Search for:</label>
		<input type="text" value="" name="s" id="s" />
		<input type="submit" id="searchsubmit" value="Search" />
	      </div>
	    </form>
	  </aside>
	  
	  <aside id="recent-posts-3" class="widget widget_recent_entries">
	    <h3 class="widgettitle">Recent Posts</h3>
	    <ul>
	      {{recent}}
	      <!--<li><a href="https://async.fi/2012/02/daily-mysql-database-dump-back-up-to-s3/" title="Daily MySQL data­base dump, back up to S3">Daily MySQL data­base dump, back up to S3</a></li>-->
	    </ul>
	  </aside>
	  
	  <aside id="archives-3" class="widget widget_archive">
	    <h3 class="widgettitle">Archives</h3>
	    <ul>
	      {{archives}}
	      <!--<li><a href='https://async.fi/2012/02/' title='February 2012'>February 2012</a>&nbsp;(1)</li>-->
	    </ul>
	  </aside>
	  
	  <aside id="categories-3" class="widget widget_categories"><h3 class="widgettitle">Categories</h3>
	    <ul>
	      {{categories}}
	      <!--
		  <li class="cat-item cat-item-83">
		    <a href="https://async.fi/category/experimental/" title="View all posts filed under Experimental"
		       Experimental
		       </a></li>-->
	    </ul>
	  </aside>
	  
      </nav>
      
      <footer>
	<p>
	  &copy; 2012 Async.fi | Theme forked from <a href="http://www.stinkyinkshop.co.uk/themes/t/fiver-theme/">StinkyInk's "Fiver"</a>
	</p>
      </footer>      
    </div>
  </body>
</html>
