<h2>404 - Content Not Found</h2>
<p>We don't seem to be able to find the content you have requested - why not try a search below?</p>
<form id="cse-search-box" action="http://google.com/cse" style="margin-bottom: 2em;">
  <input type="hidden" name="cx" value="013195161865949220878:l1y-926apew" />
  <input type="hidden" name="ie" value="UTF-8" />
  <input type="text" name="q" size="47" />
  <input type="submit" name="sa" value="Search" />
</form>
