<article class="post">
  <h2><a href="{{link}}" rel="bookmark" title="Permanent Link to {{title}}">{{title}}</a></h2>
  <time datetime="{{formal_published}}"><a href="{{link}}" rel="bookmark" title="Permanent Link to {{title}}">{{pretty_published}}</a></time>
  {{body}}
  <p class="tags"><strong>Tagged with:</strong>
    {{#tags}}
    <a href="/tag/{{.}}/" rel="tag">{{.}}</a>
    {{/tags}}
  </p>  
  <p class="categories"><strong>Categorised as:</strong>
    <a href="/category/{{category}}/" title="View all posts in {{category}}" rel="tag">{{category}}</a>
  </p>
  <hr class="clearfix" />
</article>
